body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 li {
    list-style-type: none;
 }

 .information p {
    font-family: 'Bebas Neue', cursive;
 }
.header {
    text-align: center;
} 

.lien-home {
    color: black;
    text-decoration: none;
}

.user_and_picture {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.title_information {
    color: #B67332;
    font-size: 23px;
}

.information {
    margin-top: 30px;
    height: auto;  
}

.information h2 {
    color: #26474E;
}

.information_user {
    display: flex;
    align-items: center;
}

.icon_cv {
    padding-right: 15px;
}

.picture_nicolas_cv {
    width: 300px;
    height: 300px;
    object-fit: cover
}

.testflexbox {
    display: flex;
    justify-content: space-around;
}


.experiences_and_langue {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.title_langues {
    margin-top: 200px;
}



.training_and_hobby {
    margin-top: 50px;
    display: flex;
    justify-content: space-around
}

.certificate {
    text-align: center;
    margin-top: 50px;
    
}

.certificate a {
    text-decoration: none;
    
}
.bagage {
    height: 50px;
    color: #202124;
    margin-top: 10px;
}

.testnico {
    display: flex;
}




/* tablette*/
@media screen and (min-width:768px) and (max-width:991px){

.information {
    height: auto;
}

.title_information {
    margin-top: 50px;
}

.user_and_picture {
    flex-direction: column-reverse;
    align-items: center;
}

.experiences_and_langue {
    flex-direction: column;
    text-align-last: center;
    margin-top: 50px;
}

.title_langues {
    margin-top: 50px;
}

.training_and_hobby {
    flex-direction: column;
    text-align-last: center
}

.logiciel_and_langue {
    margin-top: 50px;
}

.hobby {
    margin-top: 50px;
}
ul {
    list-style: none;
}
}
/* tablette*/


/* mobile*/
@media screen and (min-width:480px) and  (max-width: 767px) {
    .information {
        height: auto;
    }
    
    .title_information {
        margin-top: 50px;
    }
    
    .user_and_picture {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .experiences_and_langue {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .title_langues {
        margin-top: 50px;
    }
    
    .training_and_hobby {
        flex-direction: column;
        
    }
    
    .logiciel_and_langue {
        margin-top: 50px;
    }
    
    .hobby {
        margin-top: 50px;
    }
   
}
/* mobile*/


/* mobile*/
@media screen and (min-width:360px) and  (max-width: 480px) {
    .information {
        height: auto;
    }
    
    .title_information {
        margin-top: 50px;
    }
    
    .user_and_picture {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .experiences_and_langue {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .title_langues {
        margin-top: 50px;
    }
    
    .training_and_hobby {
        flex-direction: column;
        
    }
    
    .logiciel_and_langue {
        margin-top: 50px;
    }
    
    .hobby {
        margin-top: 50px;
    }

    .picture_nicolas_cv {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

@media screen and (min-width:280px) and  (max-width: 360px) {
    .information {
        height: auto;
    }
    
    .information h2 {
        font-size: 19px;
    }

    .information_experiences {
        font-size: 11px;
    }

    .title_information {
        margin-top: 50px;
    }
    
    .user_and_picture {
        flex-direction: column-reverse;
        align-items: center;
        font-size: 11px;
    }
    
    .experiences h2 {
        font-size: 19px;
    }
    
    .experiences_and_langue {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .title_langues {
        margin-top: 50px;
    }
    
    .training_and_hobby {
        flex-direction: column;
        
    }
    
    .logiciel_and_langue {
        margin-top: 50px;
    }
    
    .hobby {
        margin-top: 50px;
    }

    .picture_nicolas_cv {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}