 body {
 
  text-align: -webkit-center
 }

 h1 {
    font-family: 'Tilt Prism', cursive;
 }

 h2 {
    font-family: 'Bebas Neue', cursive;
 }

 p {
    font-family: 'Dancing Script', cursive;
   
    
 }
 
.body-wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;   
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, red 50%, #000 50%);
  bottom:0;
  left:-100%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}



@media screen and (min-width: 1100px) {
    .wrapper  {
        width: 100rem;
        margin: 0 auto;
  
      }
}

.section_user {
    display: flex;
    justify-content: center;
    width: 98%;
}
.borderproject {
    border: 2px solid #202124;
    border-radius: 15px;
    width: 59%;
    height: auto;
    padding: 1rem;
    margin-top: 25px;
    background-color:#E2E9C0;
    display: flex;
    flex-direction: column;
    
}

.projecthome {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  align-items: center;
}

.projecthome2 {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 35px;
    align-items: center;
}



/* tablette*/
@media screen and (min-width:768px) and (max-width:991px){

.presentation {
    height: 330px;
    width: 48%;
}

.border-stack {
    width: 45%;
    text-align: center;
    height: 330px;

}

.iconstack {
    font-size: 48px;
}

.borderproject {
    width: 93%;
    height: auto;
}

.project {
    width: 20%;
}
}

/* tablette*/

/* media 13 pouces*/
@media screen and (min-width:992px) and (max-width:1099px) {
    .presentation {
        height: 330px;
        width: 48%;
    }
    
    .border-stack {
        width: 45%;
        text-align: center;
        height: 330px;
    
    }
    
    .iconstack {
        font-size: 48px;
    }
    
    .borderproject {
        width: 93%;
        height: auto;
    }
    
    .project {
        width: 20%;
    }
}
/* media 13 pouces*/

/* mobile*/
@media screen and (min-width:480px) and  (max-width: 767px) {
.presentation {
    width: 90%;
    height: 290px;
    margin-right: 0;
}
.section_user {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.border-stack {
    width: 90%;
    height: auto;
    margin-top: 30px;
}

.borderproject {
    width: 90%;
}

.projecthome {
    display: block;
    text-align: -webkit-center;
    margin-top: 35px;
}

.projecthome2 {
    display: block;
    text-align: -webkit-center;
    margin-top: 35px;
}
.project {
    width: 70%;
}

.borderproject {
    height: auto;
}
}
/* mobile*/

/* mobile petit*/
@media screen and (min-width:360px) and  (max-width: 480px) {
  .presentation {
    width: 90%;
    height: 295px;
    margin-right: 0;
}
.section_user {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.border-stack {
    width: 90%;
    height: auto;
    margin-top: 30px;
}

.borderproject {
    width: 90%;
}

.projecthome {
    display: block;
    text-align: -webkit-center;
    margin-top: 35px;
}

.projecthome2 {
    display: block;
    text-align: -webkit-center;
    margin-top: 35px;
}
.project {
    width: 70%;
    line-height: 1;
}

.borderproject {
    height: auto;
}

.description {
  font-size: 14px;
}
}
/* mobile petit*/

/* mobile petit + +*/
@media screen and (min-width:280px) and  (max-width: 360px) {
  .presentation {
    width: 90%;
    height: 300px;
    margin-right: 0;
}

 .image-nicolas {
  width: 120px;
  height: 120px;
 }

 .column-desription {
 font-size: 9px;
 }

 .icon-cv {
  font-size: 34px;
 }

 .iconstack {
  font-size: 39px;
 }
.section_user {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.border-stack {
    width: 90%;
    height: auto;
    margin-top: 30px;
}

.borderproject {
    width: 90%;
    height: auto;
}

.borderproject h1 {
  font-size: 21px;
  text-align: center;
}
.projecthome {
    display: block;
    text-align: -webkit-center;
    margin-top: 35px;
}

.projecthome2 {
    display: block;
    text-align: -webkit-center;
    margin-top: 35px;
}
.project {
    width: 70%;
    line-height: 1;
}


.description {
  font-size: 14px;
}
}

  